.window-image {
  margin-bottom: 0.5em;

  img {
    border-top: solid 2px #413f42;
    border-left: solid 2px #413f42;
    border-right: solid 2px #fff;
    border-bottom: solid 2px #fff;
    box-shadow: 1px 1px 0px #817c78 inset;
    padding-top: 1px;
    padding-left: 1px;
    max-width: 100%;
  }
}
